{% extends "file_creator/base.html" %}
{% load static %}

{% block title %}
    Статистика
{% endblock %}

{% block body %}
    <div id="server-error" class="hidden common_error"
         role="alert">
        <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="!font-bold">Danger alert!</span>
            <p>Change a few things up and try submitting again.</p>
        </div>
    </div>
    <div id="server-info" class="hidden common_info"
         role="info">
        <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="!font-bold">Info alert!</span>
            <h3 class="text-text dark:text-text-dark"></h3>
            <p class="text-text dark:text-text-dark"></p>
            <div id="btn-div" class="flex justify-center gap-3 mt-3"></div>
        </div>
    </div>





{% endblock %}
{% block extra_js %}
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/src/statistics_app/js/main.js"></script>
    {% else %}
        <script type="module" crossorigin src="{% static 'statistics_app/js/main.js' %}"></script>
    {% endif %}

{% endblock %}
