{% extends "file_creator/base.html" %}
{% load static %}

{% block title %}
    Работа с городами
{% endblock %}

{% block body %}
    <div class="pt-5 md:w-full w-sm md:max-w-[75%] space-y-5 mx-auto">
        <div id="server-error" class="hidden common_error"
             role="alert">
            <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="!font-bold">Danger alert!</span>
                <p>Change a few things up and try submitting again.</p>
            </div>
        </div>
        <div id="server-info" class="hidden common_info"
             role="info">
            <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="!font-bold">Info alert!</span>
                <h3 class="text-text dark:text-text-dark"></h3>
                <p class="text-text dark:text-text-dark"></p>
                <div id="btn-div" class="flex justify-center gap-3 mt-3"></div>
            </div>
        </div>
        <h2 class="text-center">Панель управления Администратора</h2>

        <div class="border border-primary dark:border-primary-dark rounded-t-xl overflow-hidden">

            <!-- Аккордеон 1 -->
            <div class="border-b border-primary dark:border-primary-dark">
                <button class="accordion-style accordion-toggle">
                    Файловое обновление
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="correct_icon ">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
                    </svg>
                </button>
                <div class="accordion-content max-h-0 accordion-style-content">
                    <p class="py-3 text-secondary dark:text-secondary-dark">
                        Данный блок предназначен для добавления файла со списком городов.
                    </p>
                    <div class="flex py-3 items-center warning_message">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="shrink-0 inline size-5 md:size-7 me-3">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0"></path>
                        </svg>
                        <span>
                            Файл должен быть с соответствующем названием globus.docx. Другие файлы не принимаются.
                            После добавления файла и загрузки его на сервер будет произведена замена содержимого данных о городах.
                        </span>

                    </div>
                    <!-- Контейнер загрузки -->
                    <div id="upload-progress-container"
                         class="hidden flex flex-col items-center justify-center mt-4 w-full">
                        <!-- Линия прогресса -->
                        <div class="w-full h-6 bg-secondary dark:bg-secondary-dark rounded-full overflow-hidden">
                            <div id="upload-progress-bar" class="h-full bg-accent dark:bg-accent-dark transition-all duration-300"
                                 style="width: 0%;"></div>
                        </div>
                        <!-- Текст процентов -->
                        <div id="upload-progress-text" class="mt-2 text-sm text-text dark:text-text-dark">0%</div>
                    </div>
                    <form action="{% url 'cities:admin_city' %}"
                          id="uploadForm" class="mt-4 space-y-3 max-w-lg mx-auto" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file"
                               name="cityFile"
                               id="fileInput"
                               accept=".docx"
                               class="correct_input">
                        <button type="submit"
                                class="btn-submit">
                            Загрузить файл
                        </button>
                        <p id="errorMessage" class="text-error dark:text-error-dark hidden">
                            Имя файла должно быть <strong>globus.docx</strong>.
                        </p>
                    </form>


                </div>

            </div>

            <!-- Аккордеон 2 -->
            <div class="border-b border-primary dark:border-primary-dark">
                <button class="accordion-style accordion-toggle">
                    Форма обновления
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="correct_icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
                    </svg>
                </button>
                <div class="accordion-content max-h-0 accordion-style-content">
                    <p class="py-3 text-secondary dark:text-secondary-dark">Контент действия 1. Здесь может быть
                        описание,
                        кнопки и любые другие
                        элементы.</p>
                </div>
            </div>

        </div>
    </div>







{% endblock %}
{% block extra_js %}
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/src/cities/js/update-form.js"></script>
    {% else %}
        <script type="module" crossorigin src="{% static 'cities/js/update-form.js' %}"></script>
    {% endif %}
    <script>
        window.citiesData = JSON.parse('{{ cities_json|escapejs }}');
    </script>

{% endblock %}
