{% extends "file_creator/base.html" %}
{% load static %}

{% block title %}
    Работа с городами
{% endblock %}

{% block body %}
    <div id="server-error" class="hidden common_error"
         role="alert">
        <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="!font-bold">Danger alert!</span>
            <p>Change a few things up and try submitting again.</p>
        </div>
    </div>
    <div id="server-info" class="hidden common_info"
         role="info">
        <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
             xmlns="http://www.w3.org/2000/svg"
             fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="!font-bold">Info alert!</span>
            <h3 class="text-text dark:text-text-dark"></h3>
            <p class="text-text dark:text-text-dark"></p>
            <div id="btn-div" class="flex justify-center gap-3 mt-3"></div>
        </div>
    </div>

    <div class="pt-[5%]">
        <div class="md:w-full w-xs md:max-w-[75%] space-y-5 mx-auto">
            <h2 class="text-center">Поиск по городам</h2>
            <p id="counter" class="w-sm mx-auto mt-5 text-center text-text dark:text-text-dark opacity-0">Найдено
                совпадений</p>
            <form class="w-full" onsubmit="return false;">
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <!-- SVG иконка -->
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="size-6 correct_icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"></path>
                        </svg>
                    </div>

                    <input type="search" id="default-search"
                           class="ps-12 w-full correct_input"
                           placeholder="Введи какой-то адресок" required autocomplete="off"/>

                    <ul id="suggestions"
                        class="absolute z-10 bg-white border border-gray-300 w-full max-h-48 overflow-y-auto hidden"></ul>
                </div>
            </form>
            <div id="city-cards" class="mt-10 grid grid-cols-1 lg:grid-cols-2  gap-y-3 gap-x-3 "></div>
        </div>
    </div>





    <div id="city-modal"
         class="hidden fixed inset-0 z-50 flex items-center justify-center">
        <!-- Размытие фона -->
        <div class="absolute inset-0 bg-background/80 dark:bg-background-dark/80 backdrop-blur-sm"></div>
        <!-- Форма (не размытая) -->
        <div class="relative bg-background dark:bg-background-dark rounded-xl max-w-2xl min-w-xs w-full z-10">


            <form class="relative form-style !max-w-2xl z-10">
                {% csrf_token %}
                <div>
                    <label for="modal-location" class="block mb-2 correct_label">Адрес</label>
                    <input id="modal-location" type="text" placeholder="Город" class="correct_input"/>
                </div>
                <div>
                    <label for="modal-name_organ" class="block mb-2 correct_label">Наименование органа</label>
                    <input id="modal-name_organ" type="text" placeholder="Организация" class="correct_input"/>
                </div>
                <div>
                    <label for="modal-pseudonim" class="block mb-2 correct_label">Псевдоним</label>
                    <input id="modal-pseudonim" type="text" placeholder="Псевдоним" class="correct_input"/>
                </div>
                <div>
                    <label for="modal-work_time" class="block mb-2 correct_label">Рабочее время</label>
                    <input id="modal-work_time" type="text" placeholder="Время работы" class="correct_input"/>
                </div>
                <div>
                    <label for="modal-table_name" class="block mb-2 correct_label">Название таблицы</label>
                    <input id="modal-table_name" readonly type="text" placeholder="Номер раздела"
                           class="correct_input"/>
                </div>
                <div>
                    <label for="modal-number" class="block mb-2 correct_label">Номер записи в таблице</label>
                    <input id="modal-number" readonly type="text" placeholder="Порядковый номер"
                           class="correct_input"/>
                </div>
                <div>
                    <label for="modal-some_number" class="block mb-2 correct_label">Спец номер</label>
                    <input id="modal-some_number" type="text" placeholder="Спец номер"
                           class="correct_input"/>
                </div>

                <div>
                    <label for="modal-ip_address" class="block mb-2 correct_label">IP address</label>
                    <input id="modal-ip_address" type="text" placeholder="IP address" class="correct_input"/>
                </div>
            </form>
            <div class="flex justify-end gap-3 mt-4">
                <button id="save-city" class="btn-submit">Сохранить</button>
                {% if is_admin %}
                    <button id="delete-city" class="btn-delete !w-full !font-semibold">Удалить</button>
                {% else %}
                    <button id="delete-city" class="btn-delete !hidden !w-full !font-semibold" disabled>Удалить</button>
                {% endif %}
                {#                <button id="delete-city" class="btn-delete !w-full !font-semibold">Удалить</button>#}
                <button id="close-modal" class="btn-cancel ">Отмена</button>
            </div>
        </div>
    </div>



{% endblock %}
{% block extra_js %}
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/src/cities/js/main.js"></script>
    {% else %}
        <script type="module" crossorigin src="{% static 'cities/js/main.js' %}"></script>
    {% endif %}
    <script>
        window.citiesData = JSON.parse('{{ cities_json|escapejs }}');
    </script>

{% endblock %}
