:root {
    --primary-color: #2b579a; /* Основной цвет, используемый для фона навигационной панели */
    --secondary-color: #d83b01; /* Второстепенный цвет, используемый для кнопок */
    --text-color: #333; /* Цвет текста */
    --bg-color: #f5f5f5; /* Фоновый цвет страницы */
    --border-color: #e0e0e0; /* Цвет границ */
    --card-bg: #ffffff; /* Фоновый цвет карточек */
}

* {
    box-sizing: border-box;  /* Включает режим box-sizing для всех элементов */
    /*margin: 0;  !* Убирает внешние отступы *!*/
    /*padding: 0;  !* Убирает внутренние отступы *!*/
}

body {
    font-family: 'Segoe UI', Arial, sans-serif; /* Устанавливает шрифт для текста */
    line-height: 1.6; /* Высота строки текста */
    background-color: var(--bg-color); /* Фоновый цвет страницы */
    color: var(--text-color); /* Цвет текста */
}


@media (max-width: 480px) {

    /* Дополнительные стили для очень маленьких экранов */
}

@media (max-width: 767px) {

}

@media (max-width: 991px) {

    /* Дополнительные стили для средних экранов */
}

@media (max-width: 1199px) {

    /* Дополнительные стили для больших экранов */
}

@media (min-width: 1200px) {

    /* Дополнительные стили для очень больших экранов */
}

