@import "tailwindcss";
@import "../../node_modules/flowbite/src/themes/default.css";

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../../../myauth/templates/**/*.html";
@source "../../../file_creator//templates/**/*.html";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audiowide';
    src: url("../fonts/Audiowide-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Stalinist';
    src: url("../fonts/StalinistOne-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


@theme {
    --color-body-light: #f8f9fa;
    --color-body-dark: #121212;

    --color-text-light: oklch(0.278 0.033 256.848);
    --color-text-dark: oklch(0.928 0.006 264.531);

    --color-nav-ligth: oklch(0.809 0.105 251.813);
    --color-nav-dark: oklch(0.424 0.199 265.638);

    --color-hover-light: oklch(0.882 0.059 254.128);
    --color-hover-dark: oklch(0.546 0.245 262.881);

    --color-hover-text-light: oklch(0.282 0.091 267.935);
    --color-hover-text-dark: #fff;

    --font-logo: "Stalinist", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    --color-button: oklch(0.623 0.214 259.815);
    --color-hover-button: oklch(0.546 0.245 262.881);

    --animate-bounce: bounce 1s ease-in-out 10 forwards;
    @keyframes bounce {
        0%, 100% {
            transform: none;
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: translateY(25%);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }


}
.theme-toggle {
    @apply absolute top-4 right-4 text-yellow-500 dark:text-yellow-400
    transform transition duration-200 ease-in-out
    hover:scale-120 active:scale-95;
}

.btn-submit {
    @apply w-50 p-3 text-text-light dark:text-text-dark bg-button
    hover:bg-hover-button rounded-lg font-semibold transition-colors duration-300 active:scale-95;
}

.btn-cancel {
    @apply w-50 p-3 text-text-light dark:text-text-dark
    bg-red-400 dark:bg-red-600 hover:bg-red-900
    rounded-lg font-semibold transition-colors
    duration-300 active:scale-95;
}

.correct_label {
    @apply text-text-light dark:text-text-dark;
}

.error_label {
    @apply text-red-700
}

.correct_input {
    @apply border-gray-300 dark:border-gray-700
    text-text-light
    bg-body-light dark:bg-body-dark
    focus:ring-blue-400

}

.error_input {
    @apply bg-red-50 border-red-500 text-red-700 placeholder-red-700
    focus:ring-red-500 focus:border-red-500
}

.correct_icon {
    @apply text-gray-400;
}

.error_icon {
    @apply text-red-700;
}

.error_message {
    @apply text-red-800 dark:text-red-400
    shadow-red-500/50;

}

.common_error {
    @apply text-red-800 shadow-red-500/50 border-red-300
    bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fade-in {
    animation: fade-in 1.5s ease-in-out forwards;
    animation-delay: 0.2s; /* небольшая задержка перед началом анимации */
}



