{% extends 'file_creator/loader.html' %}
{% load static %}
{% block title %}
    Заметки
{% endblock %}
{% block body %}


    <div class="max-w-[95vw] mx-auto py-6 px-4 space-y-4">
        <div id="server-error" class="hidden common_error"
             role="alert">
            <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="!font-bold">Danger alert!</span>
                <p>Change a few things up and try submitting again.</p>
            </div>
        </div>
        <div id="server-info" class="hidden common_info"
             role="info">
            <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="!font-bold">Info alert!</span>
                <h3 class="text-text dark:text-text-dark">Сообщение</h3>
                <p class="text-text dark:text-text-dark">Change a few things up and try submitting again.</p>
                <div id="btn-div" class="flex justify-center gap-3 mt-3">

                </div>
            </div>
        </div>

        <h2 id="item-name" class="text-center flex items-center justify-center gap-2 text-xl font-semibold">
            <svg class="size-10 text-error dark:text-error-dark" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd"
                      d="M3.559 4.544c.355-.35.834-.544 1.33-.544H19.11c.496 0 .975.194 1.33.544.356.35.559.829.559 1.331v9.25c0 .502-.203.981-.559 1.331-.355.35-.834.544-1.33.544H15.5l-2.7 3.6a1 1 0 0 1-1.6 0L8.5 17H4.889c-.496 0-.975-.194-1.33-.544A1.868 1.868 0 0 1 3 15.125v-9.25c0-.502.203-.981.559-1.331ZM7.556 7.5a1 1 0 1 0 0 2h8a1 1 0 0 0 0-2h-8Zm0 3.5a1 1 0 1 0 0 2H12a1 1 0 1 0 0-2H7.556Z"
                      clip-rule="evenodd"/>
            </svg>
            Моя доска c важной информацией.
        </h2>

        <!-- Header -->
        <div class="sticky top-10 z-10 flex justify-between items-center mb-4">
            <div class="flex gap-2">
                <button id="btn-notes" class="btn-submit">Стикеры
                </button>
                <button id="btn-tasks" class="btn-submit">Задачи
                </button>
            </div>
        </div>

        <!-- Notes Board -->
        <div id="note-board"
             class="relative border-b-2 border-b-accent min-h-[30vh] flex flex-wrap gap-4 p-4 justify-start">

            {% csrf_token %}
            <!-- карточки стикеров -->
            <!-- Add button -->
            <button id="add-card"
                    class="add-button">
                +
            </button>
        </div>


        <!-- Панель фильтров и сортировки -->
        <div id="filter-panel"
             class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4 mb-4">

            <select id="filter-deadline" class="correct_input w-full">
                <option value="">Срок исполнения: все</option>
                <option value="asc">По возрастанию</option>
                <option value="desc">По убыванию</option>
            </select>

            <select id="filter-priority" class="correct_input w-full">
                <option value="">Приоритет: все</option>
                <option value="high">Высокий</option>
                <option value="medium">Средний</option>
                <option value="low">Низкий</option>
            </select>

            <select id="filter-assignee" class="correct_input w-full">
                <option value="">Исполнитель: все</option>
                {% for user in username_list %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </select>

            <div class="relative w-full">
                <button id="dropdownToggle" type="button"
                        class="correct_input w-full px-4 py-3 text-left appearance-none border rounded bg-white pr-10 relative focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                        aria-haspopup="true">
                    Выберите теги
                    <span class="absolute inset-y-0 right-3 flex items-center pointer-events-none">
            <!-- Галочка, как у select -->
            <svg class="w-7 h-7 font-bold text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M5.23 7.21a.75.75 0 011.06.02L10 10.939l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.25a.75.75 0 01-1.06 0L5.23 8.27a.75.75 0 01.02-1.06z"
                      clip-rule="evenodd"></path>
            </svg>
        </span>
                </button>
                <div id="dropdownMenu"
                     class="absolute z-30 mt-2 w-full bg-background dark:bg-background-dark border rounded shadow hidden">
                    <div class="p-2 max-h-60 overflow-y-auto">
                        {% for tag in tags_list %}
                        <label class="flex items-center space-x-2 mb-1">
                            <input type="checkbox" value="{{ tag }}" class="correct_input">
                            <span>{{ tag }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <select id="filter-status" class="correct_input">
                <option value="">Все</option>
                <option value="true">Выполнено</option>
                <option value="false">В процессе</option>
                {% if user.is_superuser %}
                <option value="deleted">Удалена</option>
                {% endif %}
            </select>


            <button id="clear-filters" class="btn-cancel">Очистить фильтры</button>
        </div>


        <!-- Tasks Board -->
        <div id="task-board"
             class=" grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-4   min-h-[30vh] ransition-opacity">

            <!-- Модальное окно -->


        </div>
        <div id="task-modal" class="fixed inset-0 backdrop-blur-xs flex items-center justify-center hidden z-30">

            <form id="task-form" class="form-style relative ">
                <div id="server-error2" class="hidden common_error"
                     role="alert">
                    <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div>
                        <span class="!font-bold">Danger alert!</span>
                        <p>Change a few things up and try submitting again.</p>
                    </div>
                </div>
                {% csrf_token %}
                <button id="close-modal"
                        class="absolute top-2 right-3 text-gray-500 hover:text-gray-700 text-xl">
                    &times;
                </button>

                <h2 class="text-center">Задача</h2>
                <input type="text" name="title" placeholder="Название задачи" maxlength="40"
                       class="correct_input"/>

                <textarea name="desc" rows="10" placeholder="Описание..."
                          class="correct_input"></textarea>

                <label class="correct_label">
                    Срок исполнения:</label>
                <input type="date" name="deadline" min="2024-01-01" max="2029-12-31"
                       class="correct_input" id="deadline-input"/>


                <label class="correct_label">
                    Приоритет:</label>
                <select name="priority"
                        class="correct_input">
                    <option value="">-</option>
                    <option value="low">🟢 Низкий</option>
                    <option value="medium">🟡 Средний</option>
                    <option value="high">🔴 Высокий</option>
                </select>


                <select name="assignee" id="assignee-select" class="correct_input">
                    <option value="">-- Выберите исполнителя --</option>

                </select>
                <select id="tags-select" name="tags" multiple></select>
                <label class="flex justify-start items-center gap-5 cursor-pointer">
                    <input type="checkbox" class="correct_icon rounded-full text-x" maxlength="15" name="done"/>
                    <span class="correct_label">Выполнено</span>
                </label>


                <div class="flex justify-end gap-2 mt-4">

                    <button type="submit" class="btn-submit">
                        Сохранить
                    </button>
                    <button type="button" id="cancel-btn"
                            class="btn-cancel">Отмена
                    </button>
                </div>
            </form>

        </div>

    </div>




{% endblock %}
{% block extra_js %}
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/src/stickers/js/start.js"></script>
    {% else %}
        <script type="module" crossorigin src="{% static 'stickers/js/start.js' %}"></script>
    {% endif %}
    <script>
        {% if user.first_name or user.last_name %}
            window.username = "{% if user.first_name %}{{ user.first_name|escapejs }}{% endif %}{% if user.last_name %}{% if user.first_name %} {% endif %}{{ user.last_name|escapejs }}{% endif %}";
        {% elif user.username %}
            window.username = "{{ user.username|escapejs }}";
        {% else %}
            window.username = "Гость";
        {% endif %}
        window.notes_data = JSON.parse('{{ notes_data|escapejs }}');
        window.username_data = JSON.parse('{{ username_list|escapejs }}');
        window.tasks_data = JSON.parse('{{ tasks_list|escapejs }}');
        window.tags_list = JSON.parse('{{ tags_list|escapejs }}');
        {#console.log(notes_data);#}
        {#console.log(username_data);#}
        {#console.log(username)#}
        {#console.log(tasks_data);#}
        {#console.log(tags_list);#}
    </script>

{% endblock %}