{% extends 'file_creator/base.html' %}
{% load static %}
{% block title %}
    Заметки
{% endblock %}
{% block body %}


    <div class="container mx-auto py-6 px-4 space-y-4">
        <div id="server-error" class="hidden common_error"
             role="alert">
            <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="!font-bold">Danger alert!</span>
                <p>Change a few things up and try submitting again.</p>
            </div>
        </div>
        <div id="server-info" class="hidden common_info"
             role="info">
            <svg class="shrink-0 inline size-5 md:size-7 me-3" aria-hidden="true"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"></path>
            </svg>
            <span class="sr-only">Info</span>
            <div>
                <span class="!font-bold">Info alert!</span>
                <h3 class="text-text dark:text-text-dark">Сообщение</h3>
                <p class="text-text dark:text-text-dark">Change a few things up and try submitting again.</p>
                <div id="btn-div" class="flex justify-center gap-3 mt-3">

                </div>
            </div>
        </div>

        <h2 class="text-center">📌 Моя доска</h2>
        <!-- Header -->
        <div class="flex justify-between items-center mb-4">
            <div class="flex gap-2">
                <button id="btn-notes" class="btn-submit">Стикеры
                </button>
                <button id="btn-tasks" class="btn-submit">Задачи
                </button>
            </div>
        </div>

        <!-- Notes Board -->
        <div id="note-board"
             class="relative border-b-2 border-b-accent min-h-[25vh] flex flex-wrap gap-4 p-4 justify-start">

            {% csrf_token %}
            <!-- карточки стикеров -->
        </div>

        <!-- Tasks Board -->
        <div id="task-board"
             class=" grid grid-cols-1 sm:grid-cols-2  lg:grid-cols-3 gap-4 min-h-[200px] transition-opacity">

            <!-- Модальное окно -->
            <div id="task-modal" class="fixed inset-0 backdrop-blur-xs flex items-center justify-center hidden z-30">
                <form id="task-form" class="form-style relative">
                    <button id="close-modal"
                            class="absolute top-2 right-3 text-gray-500 hover:text-gray-700 text-xl">
                        &times;
                    </button>

                    <h2 class="text-center">Задача</h2>
                    <input type="text" name="title" placeholder="Название задачи" required
                           class="correct_input"/>

                    <textarea name="desc" rows="3" placeholder="Описание..."
                              class="correct_input"></textarea>

                    <label class="correct_label">
                        Срок исполнения:</label>
                    <input type="date" name="deadline"
                           class="correct_input"/>


                    <label class="correct_label">
                        Приоритет:</label>
                    <select name="priority"
                            class="correct_input">
                        <option value="">-</option>
                        <option value="low">👨‍🦼 Низкий</option>
                        <option value="medium">🚶‍♂️ Средний</option>
                        <option value="high">🔥🏃‍♂️Высокий</option>
                    </select>


                    <select name="assignee" id="assignee-select" class="correct_input">
                        <option value="">-- Выберите исполнителя --</option>

                    </select>

{#                    <input type="text" name="tags" placeholder="Теги (через запятую)"#}
{#                           class="correct_input"/>#}
                    <select name="tags" id="tags-select" class="correct_input" multiple placeholder="Выберитеввв или введите теги..."></select>


                    <label class="correct_label">
                        <input type="checkbox" name="done"/>
                        Выполнено
                    </label>

                    <div class="flex justify-end gap-2 mt-4">
                        <button type="button" id="cancel-btn"
                                class="btn-cancel">Отмена
                        </button>
                        <button type="submit" class="btn-submit">
                            Сохранить
                        </button>
                    </div>
                </form>

            </div>


        </div>
    </div>

    <!-- Add button -->
    <button id="add-card"
            class="add-button">
        +
    </button>

{% endblock %}
{% block extra_js %}
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/src/stickers/js/start.js"></script>
    {% else %}
        <script type="module" crossorigin src="{% static 'stickers/js/start.js' %}"></script>
    {% endif %}
    <script>
        {% if user.first_name %}
            window.username = "{{ user.first_name }}";
        {% elif user.username %}
            window.username = "{{ user.username }}";
        {% else %}
            window.username = "Гость";
        {% endif %}
        window.notes_data = JSON.parse('{{ notes_data|escapejs }}');
        window.username_data = JSON.parse('{{ username_list|escapejs }}');
        console.log(notes_data);
        console.log(username_data);
    </script>

{% endblock %}