{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'myauth/images/favicon.ico' %}">


    <title>{% block title %}Base title{% endblock %}</title>
  <script type="module" crossorigin src="{% static 'myauth/js/main.js' %}"></script>
  <link rel="stylesheet" crossorigin href="{% static 'myauth/css/styles.css' %}">
</head>
<body class="bg-body-light dark:bg-body-dark transition-all duration-300 font-roboto">


{% block body %}  <!-- Блок для основного содержимого страницы, который можно переопределить в дочерних шаблонах -->
    Base Body
{% endblock %}



</body>
</html>
