{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Базовый шаблон{% endblock %}</title>
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/myauth/js/base.js"></script>
        <link rel="stylesheet" href="http://localhost:5173/src/css/base.css">
        <link rel="icon" type="image/x-icon" href="http://localhost:5173/favicon.ico">
    {% else %}
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
        <script type="module" crossorigin src="{% static 'myauth/js/base.js' %}"></script>
        <link rel="stylesheet" crossorigin href="{% static 'css/base.css' %}">
    {% endif %}
</head>
<body class="min-w-sm bg-background dark:bg-background-dark transition-all duration-300 font-base">
{% block body %}
    Base Body
{% endblock %}

{% block extra_js %}
    <!-- Блок для подключения дополнительных JavaScript-файлов, который можно переопределить в дочерних шаблонах -->
{% endblock %}
</body>
</html>