{% extends 'myauth/base.html' %}
{% load static %}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    <main class="container mx-auto  flex justify-center items-center min-h-screen min-w-sm py-6">
        <form method="POST" id="registration-form" action="{% url 'myauth:registration' %}"
              class="relative form-style  opacity-0 animate-fade-in">
            {% csrf_token %}
            <!-- Переключатель темы внутри формы -->
            <button id="theme-toggle" type="button" class="theme-toggle">
                <svg id="theme-toggle-dark-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="w-8 h-8 hidden">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"></path>
                </svg>
                <svg id="theme-toggle-light-icon" class="w-8 h-8 hidden" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"></path>
                </svg>
            </button>
            <h1>Lazy Ilya</h1>
            <p class="text-center text-text dark:text-white">Регистрация в приложении</p>

            <div>
                <label for="username-input"
                       class="block mb-2 font-medium correct_label"
                       id="username-label">
                    <div class="flex items-center justify-between">
                        <span>Логин</span>
                        <div class="relative group">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor"
                                 class="size-6 correct_icon cursor-pointer">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0
                     1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442
                     -.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0
                     9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"></path>
                            </svg>
                            <!-- Tooltip -->
                            <div
                                    class="absolute right-0 bottom-full mb-1 w-xs md:w-sm whitespace-normal p-2
                                    text-justify text-xs md:text-base text-white
                                    bg-gray-700 rounded shadow-lg
                                    opacity-0 pointer-events-none
                                    group-hover:opacity-100 group-hover:pointer-events-auto
                                    transition-opacity duration-300 z-10">
                                <span>Используйте логин одним словом на любом языке,
                                    можно использовать только буквы, цифры и знаки @/./+/-/_. <span
                                            class="text-accent dark:text-accent font-bold"> !!!Пробел нельзя ставить!!!</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="correct_icon" id="username-icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963
                      0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12
                      21a8.966 8.966 0 0 1-5.982-2.275M15
                      9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
                        </svg>
                    </div>

                    <input type="text" id="username-input" name="username"
                           class="w-full ps-12 p-2.5 correct_input"
                           placeholder="Придумайте логин">
                </div>

                <p id="username-error" class="hidden error_message">
                    Поле не должно быть пустым.
                </p>
            </div>

            <div>
                <label for="first-name-input"
                       class="block mb-2 font-medium correct_label"
                       id="first-name-label">
                    Имя
                </label>

                <input type="text" id="first-name-input" name="first_name"
                       class="w-full ps-4 p-2.5 correct_input"
                       placeholder="Имя"
                >

                <p id="first-name-error" class="hidden error_message">
                    Поле не должно быть пустым.
                </p>
            </div>

            <div>
                <label for="last-name-input"
                       class="block mb-2 font-medium correct_label"
                       id="last-name-label">
                    Фамилия
                </label>

                <input type="text" id="last-name-input" name="last_name"
                       class="w-full ps-4 p-2.5 correct_input"
                       placeholder="Фамилия"
                >

                <p id="last-name-error" class="hidden error_message">
                    Поле не должно быть пустым.
                </p>
            </div>

            <div class="mb-4">
                <label id="phone_number-label" for="phone_number-input"
                       class="block mb-2 font-medium correct_label">
                    <div class="flex items-center justify-between">
                        <span>Телефон</span>
                        <div class="relative group">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24"
                                 stroke-width="1.5" stroke="currentColor"
                                 class="size-6 correct_icon cursor-pointer">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0
                     1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442
                     -.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0
                     9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"></path>
                            </svg>

                            <!-- Tooltip -->
                            <div
                                    class="absolute right-0 bottom-full mb-1 w-xs md:w-sm whitespace-normal
                                    p-2 text-justify text-xs md:text-base text-white bg-gray-700
                                    rounded shadow-lg opacity-0 pointer-events-none
                                    group-hover:opacity-100 group-hover:pointer-events-auto
                                    transition-opacity duration-300 z-10">
                                Номер телефона нужен для восстановления пароля.
                                Это не обязательно ваш реальный номер,
                                но в случае если вы забыли пароль,
                                то нужно будет для восстановления указать ваш логин и
                                пароль для сброса и установки нового пароля!
                                <span class="text-accent dark:text-accent-dark">!!!СМС на ваш номер не пришлют!!!</span>
                            </div>
                        </div>
                    </div>
                </label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="correct_icon"
                             id="phone_number-icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M10.5 1.5H8.25A2.25 2.25 0 0 0 6 3.75v16.5a2.25 2.25 0 0 0 2.25 2.25h7.5A2.25 2.25 0 0 0 18 20.25V3.75a2.25 2.25 0 0 0-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"></path>
                        </svg>
                    </div>

                    <input
                            type="tel"
                            id="phone_number-input"
                            name="phone_number"
                            placeholder="+7 (999) 999-99-99"
                            class="w-full ps-12 p-2.5 correct_input"
                    >
                </div>
                <!-- блок ошибки -->
                <p id="phone_number-error" class="hidden error_message">
                    Введите корректный номер телефона.
                </p>
            </div>

            <div>
                <label id="password1-label" for="password1-input"
                       class="block mb-2 font-medium correct_label">Пароль</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="correct_icon"
                             id="password1-icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"></path>
                        </svg>
                    </div>
                    <input type="password" id="password1-input" name="password1"
                           class="w-full ps-12 p-2.5 correct_input"
                           placeholder="Пароль"
                    >
                </div>
                <!-- блок ошибки -->
                <p id="password1-error" class="hidden error_message">
                    Придумайте пароль длиннее 5 символов.
                </p>
            </div>

            <div>
                <label id="password2-label" for="password2-input"
                       class="block mb-2 font-medium correct_label">Подтверждение
                    пароля</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="correct_icon"
                             id="password2-icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"></path>
                        </svg>
                    </div>
                    <input type="password" id="password2-input" name="password2"
                           class="w-full ps-12 p-2.5 correct_input"
                           placeholder="Повторить ввод пароля"
                    >
                </div>
                <!-- блок ошибки -->
                <p id="password2-error" class="hidden error_message">
                    Кожаный, будь внимательнее! Пароли не совпали.
                </p>
            </div>

            <div class="flex justify-center items-center space-x-4">
                <button id="submit-btn" type="submit"
                        class="btn-submit">
                    Зарегистрироваться
                </button>
                <button type="button" onclick="window.location.href='{% url 'myauth:login' %}'"
                        class="btn-cancel">
                    Отменить
                </button>
            </div>

            <p class="text-center text-sm text-text dark:text-text-dark">
                Уже есть аккаунт?
                <a href="{% url 'myauth:login' %}" class="text-primary dark:text-primary-dark hover:underline">Войти</a>
            </p>
        </form>
    </main>
{% endblock %}
{% block extra_js %}
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/src/myauth/js/registration.js"></script>
    {% else %}
        <script type="module" crossorigin src="{% static 'myauth/js/registration.js' %}"></script>
    {% endif %}
{% endblock %}



