{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <title>{% block title %}
        Base title
        {% endblock %}
    </title>
</head>
<body>
<nav class="nav-bar">
    <div class="nav-container">
        <a href="{%url 'work_for_ilia:index' %}" class="nav-link active">Главная</a>
        <a href="{%url 'work_for_ilia:cities' %}" class="nav-link">Поиск городов</a>
        <a href="{%url 'work_for_ilia:statistics' %}" class="nav-link">Статистика</a>
    </div>
</nav>
{% block body %}
Base Body
{% endblock %}

{% block extra_js %}
{% endblock %}
</body>
</html>