{% extends "work_for_ilia/base.html" %}
{% load static %}

{% block title %}
    Lazy Ilia - Пароль сброшен
{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-card">
            <h2>Пароль сброшен успешно!</h2>
            <div class="success-message-container">
                <p>Теперь вы можете войти в систему с новым паролем.</p>
                <a href="{% url 'work_for_ilia:login' %}" class="primary-btn">Войти</a>
            </div>
        </div>
    </div>

{% endblock %}