{% extends "work_for_ilia/base.html" %}

{% load static %}

{% block title %}
    Статистика
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Статистика</h1>
        <div class="stats-container" id="statsContainer">
            <!-- Statistics cards will be populated by JavaScript -->
        </div>
    </div>

    <div id="data-container" data-json='{
        "converted_files": "{{ converted_files }}",
        "coffee_drunk": {
            "amount": "{{ coffee_drunk.amount }}",
            "note": "{{ coffee_drunk.note }}"
        },
        "hard_day":{
            "max_day_files": "{{ hard_day.max_day_files }}",
            "max_date": "{{ hard_day.max_date }}"
        }
    }' style="display: none;"></div>




{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/statistics.js' %}"></script>
    <script>
        // Здесь можно вызвать класс Statistics, если нужно
        const statisticsData = JSON.parse(document.getElementById('data-container').getAttribute('data-json'));
        const statistics = new Statistics(statisticsData);
    </script>
    <!--<script>-->
    <!--    const uploadUrl = "{% url 'work_for_ilia:index' %}"; // Получаем URL из Django-->
    <!--    const updateUrl = "{% url 'work_for_ilia:update' %}"; // Получаем URL из Django-->
    <!--</script>-->
{% endblock %}

