@import "tailwindcss";
@import "../../node_modules/flowbite/src/themes/default.css";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@theme {
    --color-body-light: oklch(0.967 0.003 264.542);
    --color-body-dark: oklch(0.872 0.01 258.338);

    --color-text-light: oklch(0.278 0.033 256.848);
    --color-text-dark: oklch(0.928 0.006 264.531);

    --color-nav-ligth: oklch(0.809 0.105 251.813);
    --color-nav-dark: oklch(0.424 0.199 265.638);

    --color-hover-light: oklch(0.882 0.059 254.128);
    --color-hover-dark: oklch(0.546 0.245 262.881);

    --color-hover-text-light: oklch(0.282 0.091 267.935);
    --color-hover-text-dark: #fff;

    --font-logo: "Press Start 2P", sans-serif;
    --font-roboto: "Roboto", sans-serif;

    --color-button: oklch(0.623 0.214 259.815);
    --color-hover-button: oklch(0.546 0.245 262.881);

}
.theme-toggle {
    @apply absolute top-4 right-4 text-yellow-500 dark:text-yellow-400
    transform transition duration-200 ease-in-out
    hover:scale-120 active:scale-95;
}

.btn-submit {
    @apply w-50 p-3 text-text-light dark:text-text-dark bg-button
    hover:bg-hover-button rounded-lg font-semibold transition-colors duration-300 active:scale-95;
}

.btn-cancel {
    @apply w-50 p-3 text-text-light dark:text-text-dark
    bg-red-400 dark:bg-red-600 hover:bg-red-900
    rounded-lg font-semibold transition-colors
    duration-300 active:scale-95;
}