{% load static %}
{% load user_filters %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base title{% endblock %}</title>
    {% if VITE_DEV_MODE %}
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/file_creator/js/base.js"></script>
        <link rel="stylesheet" href="http://localhost:5173/src/css/base.css">
        <link rel="icon" type="image/x-icon" href="http://localhost:5173/favicon.ico">
    {% else %}
        <script type="module" crossorigin src="{% static 'file_creator/js/base.js' %}"></script>
        <link rel="stylesheet" crossorigin href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% endif %}
</head>
<body class="min-w-sm bg-background dark:bg-background-dark transition-all duration-300 font-base">

<header>
    <nav class="nav-style ">

        <div class="flex justify-around items-center">
            <!-- Левая часть -->
            <div class="flex items-center gap-5">
                {% if VITE_DEV_MODE %}
                    <img src="http://localhost:5173/src/file_creator/img/file_creator_eating.ico" alt="Логотип"
                         class="h-15 w-15 md:h-30 md:w-30 animate-bounce">
                {% else %}
                    <img src="{% static 'file_creator/img/file_creator_eating.ico' %}" alt="Логотип"
                         class="h-15 w-15 md:h-30 md:w-30 animate-bounce">
                {% endif %}

                <h1>Lazy Ilia</h1>
            </div>

            <!-- Меню (десктоп) -->
            <div class="hidden lg:flex items-center gap-2">
                <a id="a-main" href="{% url 'file_creator:file-creator-start' %}"
                   class="a-style" tabindex="-1">Главная</a>
                <a id="a-cities" href="{% url 'cities:base_template' %}"
                   class="a-style" tabindex="-1">Города</a>
                <a id="a-statistics" href="{% url 'statistics_app:statistics_app' %}"
                   class="a-style" tabindex="-1">Статистика</a>
                {% if user.is_superuser or user|in_group:"admin" %}
                    <a href="{% url 'cities:admin_city' %}"
                       id="a-admin" class="a-style" tabindex="-1">Админ</a>
                {% endif %}
                <!-- Форма для выхода -->
                <form action="{% url 'myauth:logout' %}" method="POST" class="inline">
                    {% csrf_token %}
                    <button type="submit"
                            class="a-style" tabindex="-1">
                        Выход
                    </button>
                </form>
            </div>


            <!-- Кнопки справа -->
            <div class="flex items-center gap-5">
                <!-- Бургер (моб) -->
                <button id="burger-menu" tabindex="-1"
                        class="relative flex flex-col justify-between items-center p-2 h-8 w-10 md:h-12 md:w-16 lg:hidden group hover:scale-110 transition-all duration-500 [.open]:rotate-180">
                    <span class="block w-full h-0.5 bg-accent dark:bg-accent-dark transition-all duration-200 ease-in-out group-[.open]:rotate-45  origin-center group-[.open]:translate-y-[7px]  md:group-[.open]:translate-y-[15px]"></span>
                    <span class="block w-full h-0.5 bg-accent dark:bg-accent-dark transition-all duration-200 ease-in-out group-[.open]:hidden "></span>
                    <span class="block w-full h-0.5 bg-accent dark:bg-accent-dark transition-all duration-200 ease-in-out group-[.open]:-rotate-45 origin-center group-[.open]:-translate-y-[7px]  md:group-[.open]:-translate-y-[15px]"></span>

                </button>
                <!-- Переключатель темы -->
                <button id="theme-toggle" class="theme-toggle-nav" tabindex="-1">
                    <svg id="theme-toggle-dark-icon" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-8 h-8 hidden">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="w-8 h-8 hidden" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"></path>
                    </svg>
                </button>
            </div>
        </div>

        <!-- Мобильное меню -->
        <div id="nav-menu"
             class="flex-col space-y-2 lg:hidden max-h-0 overflow-hidden transition-all duration-400">
            <a id="a-main-mob" href="{% url 'file_creator:file-creator-start' %}"
               class="burger-button" tabindex="-1">Главная</a>
            <a id="a-cities-mob" href="{% url 'cities:base_template' %}"
               class="burger-button" tabindex="-1">Города</a>
            <a id="a-statistics-mob" href="{% url 'statistics_app:statistics_app' %}"
               class="burger-button" tabindex="-1">Статистика</a>
            {% if user.is_superuser or user|in_group:"admin" %}
                <a id="a-admin-mob" href="{% url 'cities:admin_city' %}"
                   class="burger-button" tabindex="-1">Админ</a>
            {% endif %}
            <!-- Форма для выхода -->
            <form action="{% url 'myauth:logout' %}" method="POST" class="block">
                {% csrf_token %}
                <button type="submit"
                        class="burger-button" tabindex="-1">
                    Выход
                </button>
            </form>

        </div>

    </nav>
</header>
{% block loader %}

{% endblock %}

<!-- Навигация -->
<main class="p-5">

    {% block body %}
        Base Body
    {% endblock %}

</main>


<!-- Информация в футере -->
<footer></footer>
{% block extra_js %}
    <!-- Блок для подключения дополнительных JavaScript-файлов, который можно переопределить в дочерних шаблонах -->
{% endblock %}
</body>
</html>
