{% extends "file_creator/base.html" %}
{% load static %}

{% block title %}
    Обработчик файлов
{% endblock %}

{% block body %}
    <ol class="py-6 items-center w-full space-y-4 lg:flex lg:justify-between lg:space-x-8 lg:space-y-0">
        <li class="flex items-center text-blue-600 dark:text-blue-500 space-x-2.5">
        <span class="flex items-center justify-center w-8 h-8 border border-blue-600 rounded-full shrink-0 dark:border-blue-500">
            1
        </span>
            <div>
                <h3 class="font-medium leading-tight">Загрузка файлов</h3>
                <p class="text-sm">Добавление файлов на обработку</p>
            </div>
        </li>
        <li class="flex items-center text-gray-500 dark:text-gray-400 space-x-2.5">
        <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
            2
        </span>
            <div>
                <h3 class="font-medium leading-tight">Подготовка</h3>
                <p class="text-sm">Добавление нужных реквизитов к документам</p>
            </div>
        </li>
        <li class="flex items-center text-gray-500 dark:text-gray-400 space-x-2.5 ">
        <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
            3
        </span>
            <div>
                <h3 class="font-medium leading-tight">Ответ от сервера</h3>
                <p class="text-sm">Проверка полученных документов от сервера</p>
            </div>
        </li>
        <li class="flex items-center text-gray-500 dark:text-gray-400 space-x-2.5 ">
        <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
            4
        </span>
            <div>
                <h3 class="font-medium leading-tight">Сохранение документов</h3>
                <p class="text-sm">Сохранение документов</p>
            </div>
        </li>
        <li class="flex items-center text-gray-500 dark:text-gray-400 space-x-2.5 ">
        <span class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
            5
        </span>
            <div>
                <h3 class="font-medium leading-tight">Ожидание ответа от сервера</h3>
                <p class="text-sm">Обработка сообщения от сервера</p>
            </div>
        </li>
    </ol>


{% endblock %}
{% block extra_js %}

{% endblock %}
